.wshell{
  height:100%;
  width:100%;
  
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:scroll;
  
	-webkit-font-smoothing:antialiased;
  
  background:rgb(15,15,15);
  color:rgb(255,255,255);
  
  font-size:15px;
  line-height:18px;
  font-weight:400;
  font-family:monospace;
  
  outline:none !important;
}
.wshell .padding{
  padding:8px;
}

.wshell .line{
  margin:4px;
  position:relative;
  
  white-space: normal;
  word-wrap: break-word;
}
.wshell .line .mount{
  color:rgb(171,0,76);
}
.wshell .line .systemmount{
  color:rgb(84,84,84);
}
.wshell .line .colored{
  color:rgb(46,135,191);
}
.wshell .level.INFO{
  color:rgb(96,125,139);
}
.wshell .level.WARN{
  color:rgb(255,175,58);;
}
.wshell .level.ERRO{
  color:rgb(255,0,114);
}

.wshell cursor{
  position:absolute;
  left:0px;
  top:0px;
  
  display:block;
  vertical-align:top;
  
  height:18px;
  width:9px;
  
  background:rgb(200,200,200);
}